.mav {
    grid-area: n;
    background-image: url(../img/Rectangle.jpg);
    border-radius: 10px;
}
.item {
    text-align: center;
    margin: 0 auto;
    max-width: 172px;
    text-transform: uppercase;
    padding-top: 10px;

}
.item a {
    text-decoration: none;
    color: #F7654A;
}