.mav {
    grid-area: n;
    background-color: dimgrey;
    /*background-image: url(../img/Rectangle.jpg);*/
    border-radius: 10px;
}
.item {
    text-align: center;
    margin: 0 auto;
    max-width: 172px;
    padding-top: 10px;
    font-size: 20px;

}
.item a {
    text-decoration: none;
    color: #F7654A;
}