
.app-wrapper {
  width: 1890px;
  height: 950px;
  /*margin: 0 auto;*/
  /*width: 100%;*/
  /*height: 100%;*/

  grid-template-areas:
  "h h"
  "n c";
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wrapper-content {
  background-color: dimgrey;
  /*background-image: url(components/img/Rectangle.jpg);*/
  grid-area: c;
  border-radius: 10px;
}




